<div id="disqus_thread"></div>
<script charset="utf-8" src="{{asset 'js/comments_disqus.min.js'}}"></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
