<nav id="pagination" class="pagination" role="navigation">
    {{#if prev}}
        <a class="pagination--prev" href="{{page_url prev}}">Nuevos</a>
    {{/if}}
    <span class="pagination--pages">Página {{page}} de {{pages}}</span>
    {{#if next}}
        <a class="pagination--next" href="{{page_url next}}">Antiguos</a>
    {{/if}}
</nav>
