<section class="blog--social"><h3 class="title">Follow Me</h3><div class="icons">

	{{! example - delete if you want}}
    <a class="icons--icon icon" target="_blank" href="http://facebook.com/nike" title="facebook" >
        <i class="fa fa-facebook"></i>
    </a>

	{{! paste below here }}



</div></section>
