{{!< default}}
<article id="author">

    <h1 class="title">
        {{pagination.total}} Entradas por
        <span class="title--author">{{author.name}}</span>
    </h1>
    {{> loopAlt}}
</article>{{> aside}}
