{{!< default}}
<article id="tags">
    <h1 class="title">
        {{pagination.total}} Post Tagged as
        <span class="title--tag">{{tag.name}}</span>
    </h1>
    {{> loopAlt}}
</article>{{> aside}}
